.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newBlock {
  text-align: center;
  font-size: 2rem;
  animation: fadeOut 6s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
